name: CI Pipeline

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du dépôt
        uses: actions/checkout@v3

      - name: Installer Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Installer HTMLHint
        run: npm install -g htmlhint

      - name: Vérification HTML
        run: htmlhint .

      - name: Build de l'image Docker
        run: docker build -t devops-site .
