name: Docker CD

on:
  push:
    branches:
      - main

jobs:
  docker-cd:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t devops-site .
